<% if !current_user.nil? %>
	<% if current_user.admin? %>
		<%= render 'form' %>
		<%= link_to 'Show', @note %> |
		<%= link_to 'Back', notes_path %>
	<% elsif current_user.id == @note.user_id %>
		<%= render 'form' %>
		<%= link_to 'Show', @note %> |
		<%= link_to 'Back', notes_path %>
	<% else %>
		<h1>You can't access this Web page</h1>
	<% end %>
<% else %>
	<h1>You can't access this Web page</h1>
<% end %>


