<p id="notice"><%= notice %></p>

<p>
  <strong>Posted By:</strong>
  <% @users.each do |user| %>
        <% if user.id == @note.user_id %>
            <%= user.name %>        
        <% end %>
  <%end%>
</p>

<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>

<p>
  <strong>Category:</strong>
  <% @categories.each do |category| %>
        <% if category.id == @note.category_id %>
            <%= category.branch %>        
        <% end %>
  <%end%>
</p>

<p>
  <strong>Subject:</strong>
  <% @subjects.each do |subject| %>
        <% if subject.id == @note.subject_id %>
            <%= subject.subject_name %>        
        <% end %>
  <%end%>
</p>
<p>
  <strong>Pdf:</strong>
  <%= @note.file %>
</p>

<% if !current_user.nil? %>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Destroy', @note, method: :delete, data: {confirm:'Are you sure you want to delete this POST?'} %>
<% elsif current_user.id == @note.user_id %>
  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Destroy', @note, method: :delete, data: {confirm:'Are you sure you want to delete this POST?'} %>
<% end %>
<% end %>


