<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @cart.note_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @cart.book_id %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
